/* Header */

header {
    background-color: $color-fondo;
    border-bottom: 1px solid white;
    text-align: center;
    padding: 10px 20px;
}

/* TITULO */
.titulo {
    text-align: center;
}

/* H2 */
h2 {
    text-align: center;
}