/* Plantilla */

.plantilla {
    text-transform: uppercase;
    font-size: 50px;
    list-style: none;
}

/* Fotos de los jugadores de la plantilla */

.jugador4x4 {
    width: 150px;
    height: 100px;
}
.fondoplantilla{
    background-color: $color-fondo;
    color: $color-fuentes ;
}
